<div class="principal d-flex justify-content-center">
    <nav class="card sidebar">
        <ul class="list-unstyled components mb-5">
            <li class="">
              <a href="#"><span class="fa fa-home mr-3"></span>Dashboard</a>
            </li>
            <li class="active">
                <a href="#"><span class="fa fa-user mr-3"></span>Clientes</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-box mr-3"></span>Pedidos</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-tasks mr-3"></span>Tarefas</a>
            </li>
            <li>
              <a href="#"><span class="fa fa-cog mr-3"></span>Configur...</a>
            </li>
          </ul>
    </nav>
    <div class="card conteudo">
        <div class="card-header"><h2>Clientes</h2>
        </div>
        <div class="card-body">
            <app-lista-cliente></app-lista-cliente>
        </div>
    </div>
</div>