<section class="productList">
  <h1>Nossos Produtos</h1>
<div class="container">
  <div *ngFor="let produto of produtos" class="card">
    <div class="produtoImagem">
      <img [src]="produto.imagem">
    </div>
    <div class="titulo"><img src="https://www.countryflags.io/{{produto.paisCodigo}}/flat/24.png"><h4>{{produto.titulo}}</h4></div>
    <p class="descricao">
      {{produto.classificacao}}
    </p>
    <div class="linha-valor">
      <p>De: </p>
      <h4 class="valorDe font-weight-normal">{{produto.precoDe | currency: 'BRL'}}</h4>
      <p>Por:</p>
      <h3 class="valorPor font-weight-bold">{{produto.precoPor | currency: 'BRL'}}</h3>
    </div>
    <a href="#" class="btn btn-dark">Comprar</a>
  </div>
</div>
</section>
