.productList {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.productList h1 {
    font-weight: 500;
}
.container {
    
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
}
  
.card {
    margin-bottom: 20px;
    padding: 20px 10px 15px 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 300px;
    background-color: #fff;
}
.titulo {
    display: flex;
    align-items: flex-start;
}
.titulo img {
    padding-right: 5px;
}
.produtoImagem {
    padding-bottom: 15px;
    max-width: 50%;
    max-height: 50%;
    box-sizing: border-box;
}
.produtoImagem > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.btn {
      width: 100%;
      background-color: #52012f;
      outline: none;
      border: none;
}
.btn:hover, .btn:focus, .btn:active {
    background-color: #52012f;
}
.linha-valor {
    width: 100%;
    display: flex;
    align-items: center;
}
.linha-valor p {
    padding: 5px;
    text-align: justify;
}
.linha-valor .valorDe {
    padding: 0 2.5px;
    color: #aaa;
    text-decoration: line-through;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #e2e2e2;
}
.btn-carrinho{
    position: fixed;
    bottom: 100px;
    right: 35px;
    width: 50px;
    height: 50px !important;
    z-index: 10;
    border-radius: 50%;
}
::ng-deep .modal-carrinho > .modal-dialog{
    margin-right: 30px !important;
    max-width: 350px !important;
}
.car-qtd {
    align-items: baseline;
    justify-content: space-around;
    cursor: pointer;
}
.car-preco{
    text-align: right;    
}
.car-btn-qtd {
    border: none;
    background: none;
}
.car-btn-continuar {
    background: #fff;
    color: #52012f;
    border: 1px solid #52012f;
}
.car-btn-continuar:hover {
    background: #52012f;
    color: #fff;    
}