<div class="d-flex justify-content-center cadastroContainer" >
    <div class="card cadastro">
        <div class="card-header">
          Cadastro
        </div>
        <div class="card-body">          
          <mat-horizontal-stepper labelPosition="bottom">
            <mat-step label="Cadastro">              
              <form [formGroup]="cadastroForm">
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="E-mail" [ngClass]="aplicaCssErro('email','cadastroForm')">
                  <div class="invalid-feedback">
                    E-mail inválido.
                  </div>
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="senha" placeholder="Senha" [ngClass]="aplicaCssErro('senha','cadastroForm')" (change)="onPasswordChange()">
                  <div class="invalid-feedback">
                    {{ verificarErro('senha') }}
                  </div>                  
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="confirmaSenha" placeholder="Confirmar senha" [ngClass]="aplicaCssErro('confirmaSenha','cadastroForm')" (change)="onPasswordChange()">
                  <div class="invalid-feedback">
                    Senhas não conferem.
                  </div>
                </div>                
              </form>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark btn-sm" matStepperNext [disabled]="cadastroForm.invalid">Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Dados Pessoais">
              <form [formGroup]="dadosForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="nome" placeholder="Nome" [ngClass]="aplicaCssErro('nome','dadosForm')">
                    <div class="invalid-feedback">
                      Nome obrigatório.
                    </div>
                  </div>
                  <div class="form-group col-md-6">                    
                    <input type="text" class="form-control" formControlName="dataNasc" [dropSpecialCharacters]="false" placeholder="Data de nascimento" mask="00/00/0000" [ngClass]="aplicaCssErro('dataNasc','dadosForm')"/>    
                    <div class="invalid-feedback">
                      Data de nascimento inválida
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="cpf"  placeholder="CPF" mask="000.000.000-00" [ngClass]="aplicaCssErro('cpf','dadosForm')">
                    <div class="invalid-feedback">
                      CPF obrigatório.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="sexo" [ngClass]="aplicaCssErro('sexo','dadosForm')">
                      <option value="0">Selecione</option>
                      <option value="M">Masculino</option>
                      <option value="F">Feminino</option>
                      <option value="O">Outros</option>
                    </select>
                  </div>
                </div>                
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <select class="custom-select mr-sm-2" formControlName="tipoTelefone" [ngClass]="aplicaCssErro('tipoTelefone','dadosForm')">
                      <option value="0">Selecione</option>
                      <option value="casa">Casa</option>
                      <option value="celular">Celular</option>
                      <option value="comercial">Comercial</option>
                    </select>
                    <div class="invalid-feedback">
                      Tipo obrigatório.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone" prefix="+55 " mask="(00) 0000-0000||(00) 0 0000-0000" [ngClass]="aplicaCssErro('telefone','dadosForm')">
                    <div class="invalid-feedback">
                      Telefone obrigatório.
                    </div>
                  </div>
                </div>                
              </form>
              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <button class="btn btn-dark btn-sm" matStepperNext [disabled]="dadosForm.invalid">Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Endereço">
              <div class="d-flex justify-content-end btn-add">
                <button class="btn btn-outline-dark btn-sm" (click)="addEndereco()">Add endereço</button>
              </div>

              <app-endereco (dadosEndereco)="getDadosEndereco($event)" [resetEndereco]="resetEndereco" [loadData]="loadData"></app-endereco> 
              
              <table class="table" *ngIf="listaEnderecos.length > 0">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>                    
                    <th scope="col">Rua</th>
                    <th scope="col">Nº</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Cidade</th>                    
                    <th scope="col">Tipo endereço</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let end of listaEnderecos; let i = index">                  
                    <td>{{ i +1 + 'º' }}</td>                  
                    <td>{{ end.endereco }}</td>                  
                    <td>{{ end.numero }}</td>                  
                    <td>{{ end.bairro }}</td>                  
                    <td>{{ end.cidade }}</td>                    
                    <td>{{ end.tipoEndereco }}</td>
                    <td class="d-flex justify-content-around">
                      <mat-icon class="mr-2" (click)="editEndereco(i)">edit</mat-icon>
                      <mat-icon (click)="removeEndereco(i)">delete</mat-icon>
                    </td>
                  </tr>                
                </tbody>
              </table>

              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <!-- <button class="btn btn-dark btn-sm" matStepperNext (click)="onSubmit()" [disabled]="enderecoValid || dadosForm.invalid || cadastroForm.invalid">Cadastrar</button>                 -->
                <button class="btn btn-dark btn-sm" matStepperNext (click)="onSubmit()">Cadastrar</button>
              </div>              
            </mat-step>                      
          </mat-horizontal-stepper>
        </div>
    </div>
</div>