<div class="card blocoPerfil">
    <nav class="navbar navbar-expand-lg navbar-light bg-light tituloUsuario">
        <a class="navbar-brand" ><div class="profileImage">
            <img src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"/>
        </div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <h1>{{ dadosCliente?.nome }} •</h1>
            </li>
            <li class="nav-item active">
              <a class="nav-link">Dados Pessoais <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Endereço</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Configurações da Conta</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="conteudo">
        <h1>Dados Pessoais</h1>
        <h3>Email:</h3><p>{{dadosCliente?.email}}</p>
        <h3>Telefone:</h3><p>{{dadosCliente?.telefone}}</p>
        <h3>Sexo:</h3><p>{{dadosCliente?.sexo}}</p>
      </section>
      <section class="conteudo">
        <h1>Endereços</h1>
        <div class="accordion" id="accordionExample">
          <div class="card" *ngFor="let endereco of dadosCliente?.endereco">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{dadosCliente?.nome}}
                </button>
              </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                {{endereco.logradouro}}, {{endereco.numero}} 
              </div>
            </div>
          </div>
        </div>
      </section>
</div>
