<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-4">
            <h2>Já tenho cadastro</h2>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>                
                <div class="form-group w-100">
                    <button type="submit" class="btn btn-dark w-100" matStepperNext>ENTRAR</button>
                </div>  
            </form>
        </div>
        <div class="barra"></div>
        <div class="col-md-4">
            <h2>Quero me cadastrar</h2>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>   
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirma a senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CPF</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">CEP</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>                
                <div class="form-group w-100">
                    <button type="submit" class="btn btn-dark btn-pre-cadastro w-100" matStepperNext>CADASTRAR</button>
                </div>  
            </form>
        </div>
    </div>
</div>