<div class="modal-header">
    <p class="modal-title m-0" id="modal-basic-title"><span class="fas fa-tags mr-2"></span>Cadastrar Novo Cupom:</p>    
  </div>
  <div class="modal-body">
    <form>
        <input class="form-control" placeholder="Código do Cupom"/> 
        <input class="form-control" placeholder="Valor"/> 
        <input class="form-control" placeholder="Tipo de Cupom"/> 
        <input type="checkbox" data-toggle="toggle" data-onstyle="primary"/>Ativo
    </form>
    <button class="btn btn-dark">Cadastrar</button>
  </div>