<div class="row w-100">
    <div class="col-md-12">
      <h1 class="mt-4 mb-4">Resumo do pedido</h1>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Produto</th>
            <th></th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of carrinho.listaCompras">
                <td class="car-imagem"><img src="{{ item.imagem }}" width="50px" height="50px"></td>
                <td>
                    <p><strong>{{ 'Vinho ' + item.titulo }}</strong></p>
                    <p>{{ item.pais }}</p>
                    <p>{{ item.classificacao + ' - ' + item.quantidadeML + 'ml' }}</p>
                  </td>
                <td><p>{{ item.qtd }}</p></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6"></div>
     <div class="col-md-6">
           <div class="row">
               <div class="d-flex justify-content-between">
                 <p>Método de Pagamento: </p>
                 <p>Crédito (1x)</p>
               </div>
             </div>
             <div class="row">
               <div class="d-flex justify-content-between">
                 <p>Endereço de Entrega: </p>
                 {{ carrinho.enderecoEntrega.logradouro + ', ' + carrinho.enderecoEntrega.numero}}
               </div>
           </div>
           <div class="row">
               <div class="d-flex justify-content-between">
                 <p>Subtotal: </p>
                 <p>{{ carrinho.valorCompras | currency: 'BRL' }}</p>
               </div>
           </div>
           <div class="row">
               <div class="d-flex justify-content-between">
                 <p>Entrega por: </p>
                 <p>Sedex - 12 dias úteis</p>
               </div>
           </div>
           <div class="row">
               <div class="d-flex justify-content-between">
                 <p>Desconto: </p>
                 {{ carrinho.cupomDesconto | currency: 'BRL'}}
               </div> 
           </div>
           <div class="row">
               <div class="d-flex justify-content-between">
                 <strong><p>Total do Pedido: </p></strong>
                 <strong><p>{{carrinho.valorTotal | currency: 'BRL'}} </p></strong>
               </div> 
           </div>
           <div class="row mt-2 mb-5"></div>
     </div>
     <div class="row">
         <div class="d-flex justify-content-end">
             <button class="btn btn-dark btnFinalizar" (click)="onSubmitPedido()">Finalizar Pedido</button>
         </div>
     </div>
</div>
 
      