<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" [value]="endereco.cep" class="form-control" id="cep" formControlName="cep" mask="00000-000" placeholder="Cep">
      </div>
      <div class="form-group col-md-6">
        <input type="text" [value]="endereco.numero" class="form-control" id="numero" formControlName="numero" placeholder="Número">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" [value]="endereco.logradouro" class="form-control" id="logradouro" formControlName="logradouro" placeholder="Endereço">
      </div>
      <div class="form-group col-md-4">
        <input type="text" [value]="endereco.complemento" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" [value]="endereco.bairro" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro">
      </div>
      <div class="form-group col-md-6">
        <input type="text" [value]="endereco.cidade" class="form-control" id="cidade" formControlName="cidade" placeholder="Cidade">
      </div>                               
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" [value]="endereco.uf" class="form-control" id="uf" formControlName="uf" placeholder="UF">
      </div>      
        <div class="form-group col-md-8">
          <select class="form-control" id="pais" name="pais" formControlName="pais">
            <option [selected]="country == endereco.pais ? true : false" *ngFor="let country of countryList" [value]="country">{{country}}</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" [value]="endereco.descricaoEndereco" class="form-control" id="descricaoEndereco" formControlName="descricaoEndereco" placeholder="Descrição do Endereço">
      </div>      
        <div class="form-group col-md-4">
          <select class="form-control" id="tipoEndereco" name="tipoEndereco" formControlName="tipoEndereco">
            <option value="">Selecione</option>
            <option value="cobranca">Cobrança</option>
            <option value="entrega">Entrega</option>
          </select>
      </div>
    </div>
  </form>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger mr-2">Excluir</button>
    <button type="button" class="btn btn-primary">Alterar</button>
</div>              