<form [formGroup]="meuEnderecoForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="cep" id="cep" mask="00000-000" placeholder="Cep">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="numero" id="numero" placeholder="Número">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" class="form-control" formControlName="logradouro" id="logradouro" placeholder="Endereço">
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" formControlName="complemento" id="complemento" placeholder="Complemento">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="bairro" id="bairro" placeholder="Bairro">
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="cidade" id="cidade" placeholder="Cidade">
      </div>                               
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" formControlName="uf" id="uf" placeholder="UF">
      </div>      
        <div class="form-group col-md-8">
          <select class="form-control" id="pais" name="pais">
            <option [selected]="country == endereco.pais ? true : false" *ngFor="let country of countryList" [value]="country">{{country}}</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" class="form-control" formControlName="descricaoEndereco" id="descricaoEndereco" placeholder="Descrição do Endereço">
      </div>      
        <div class="form-group col-md-4">
          <select class="form-control" id="tipoEndereco" name="tipoEndereco" formControlName="tipoEndereco">
            <option value="">Selecione</option>
            <option value="cobranca">Cobrança</option>
            <option value="entrega">Entrega</option>
          </select>
      </div>
    </div>
  </form>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger mr-2" (click)="onDelete()">Excluir</button>
    <button type="button" class="btn btn-primary" (click)="onAlterar()">Alterar</button>
</div>              