<div class="modal-header">
    <div class="d-flex align-items-center">
        <mat-icon class="mr-2">location_on</mat-icon>
        <p class="modal-title p-0 m-0"><strong>Endereço</strong></p>
    </div>
</div>
<div class="modal-body">
    <form [formGroup]="formEndereco">
        <div class="form-row">
            <div class="form-group col-md-12">
            <label>CEP</label>
            <input type="text" class="form-control form-control-sm" formControlName="cep" placeholder="CEP" mask="00000-000" [dropSpecialCharacters]="false">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Logradouro</label>
                <input type="text" class="form-control form-control-sm" formControlName="logradouro" placeholder="Logradouro">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Número</label>
                <input type="text" class="form-control form-control-sm" formControlName="numero" placeholder="Número">                      
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Complemento</label>
                <input type="text" class="form-control form-control-sm" formControlName="complemento" placeholder="Complemento">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Bairro</label>
                <input type="text" class="form-control form-control-sm" formControlName="bairro" placeholder="Bairro">                      
            </div> 
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <label>Cidade</label>
                <input type="text" class="form-control form-control-sm" formControlName="cidade" placeholder="Cidade">
            </div>                
            <div class="form-group col-md-4">
                <label>UF</label>
                <input type="text" class="form-control form-control-sm" formControlName="uf" placeholder="UF">                      
            </div>                       
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark btn-sm" (click)="closeModal()">SALVAR</button>
</div>
