<form>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Senha atual"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Nova Senha"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="text" class="form-control" placeholder="Confirmar Senha"/>
        </div>
    </div>
</form>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary">Salvar</button>
</div>     