.cadastro {
    width: 800px;
    padding: 0;
    margin-top: 30px;
}

mat-step-header {
    background-color: #686a71;
}
.mat-step-icon-selected{
    background-color: #686a71;
}
form {
    padding-top: 10px;
}