<div class="d-flex justify-content-center" >
    <div class="card cadastro">
        <div class="card-header">
          Cadastro
        </div>
        <div class="card-body">          
          <mat-horizontal-stepper labelPosition="bottom">
            <mat-step label="Step 1">              
              <form [formGroup]="step1Form">
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="E-mail" [ngClass]="aplicaCssErro('email')">
                  <div class="invalid-feedback">
                    E-mail inválido.
                  </div>
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="senha" placeholder="Senha" [ngClass]="aplicaCssErro('senha')">
                  <div class="invalid-feedback">
                    Senha obrigatória.
                  </div>
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmar senha">
                  <div class="invalid-feedback">
                    Senhas não conferem.
                  </div>
                </div>                
              </form>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark btn-sm" matStepperNext [disabled]="step1Form.invalid">Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Step 2">
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nome">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="CPF">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Telefone">
                </div>
                <div class="form-group">
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Selecione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                  </select>
                </div>
              </form>
              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <button class="btn btn-dark btn-sm" matStepperNext>Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Step 3">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="Cep" placeholder="Cep">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="Cep" placeholder="Telefone">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Endereço">
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="bairro" placeholder="Bairro">
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="cidade" placeholder="Cidade">
                  </div>                  
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="uf" placeholder="UF">
                  </div>                  
                </div>
              </form>
              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <button class="btn btn-dark btn-sm" matStepperNext>Enviar</button>
              </div>
            </mat-step>          
          </mat-horizontal-stepper>
        </div>
    </div>
</div>