<div class="d-flex justify-content-center" >
    <div class="card cadastro">
        <div class="card-header">
          Cadastro
        </div>
        <div class="card-body">          
          <mat-horizontal-stepper labelPosition="bottom">
            <mat-step label="Cadastro">              
              <form [formGroup]="step1Form">
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="email" placeholder="E-mail" [ngClass]="aplicaCssErro('email','step1Form')">
                  <div class="invalid-feedback">
                    E-mail inválido.
                  </div>
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="senha" placeholder="Senha" [ngClass]="aplicaCssErro('senha','step1Form')" (change)="onPasswordChange()">
                  <div class="invalid-feedback">
                    {{ verificarErro('senha') }}
                  </div>                  
                </div>                
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="confirmaSenha" placeholder="Confirmar senha" [ngClass]="aplicaCssErro('confirmaSenha','step1Form')" (change)="onPasswordChange()">
                  <div class="invalid-feedback">
                    Senhas não conferem.
                  </div>
                </div>                
              </form>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-dark btn-sm" matStepperNext [disabled]="step1Form.invalid">Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Dados Pessoais">
              <form [formGroup]="step2Form">
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="nome" placeholder="Nome" [ngClass]="aplicaCssErro('nome','step2Form')">
                  <div class="invalid-feedback">
                    Nome obrigatório.
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="cpf"  placeholder="CPF" mask="000.000.000-00" [ngClass]="aplicaCssErro('cpf','step2Form')">
                  <div class="invalid-feedback">
                    CPF obrigatório.
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone" prefix="+55" mask="(00) 0000-0000||(00) 0 0000-0000" [ngClass]="aplicaCssErro('telefone','step2Form')">
                  <div class="invalid-feedback">
                    Telefone obrigatório.
                  </div>
                </div>
                <div class="form-group">
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="sexo" [ngClass]="aplicaCssErro('sexo','step2Form')">
                    <option value="0">Selecione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                  </select>
                </div>
              </form>
              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <button class="btn btn-dark btn-sm" matStepperNext [disabled]="step2Form.invalid">Avançar</button>
              </div>
            </mat-step>
            <mat-step label="Endereço">
              <form [formGroup]="step3Form">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="Cep" (change)="onCEPChange()">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="Número">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="endereco" formControlName="endereco" placeholder="Endereço">
                  </div>
                  <div class="form-group col-md-4">
                    <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro">
                  </div>
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="cidade" formControlName="cidade" placeholder="Cidade">
                  </div>                               
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <input type="text" class="form-control" id="uf" formControlName="uf" placeholder="UF">
                  </div>      
                    <div class="form-group col-md-4">
                      <select class="form-control" id="pais" name="pais" formControlName="pais">
                        <option *ngFor="let country of countryList" [value]="country" [selected]="country == 'Brasil' ? true : null">{{country}}</option>
                      </select>
                  </div>
                </div>
              </form>
              <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm mr-2" matStepperPrevious>Voltar</button>
                <button class="btn btn-dark btn-sm" matStepperNext>Enviar</button>
              </div>
            </mat-step>          
          </mat-horizontal-stepper>
        </div>
    </div>
</div>