<form [formGroup]="enderecoForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="cep" formControlName="cep" mask="00000-000" placeholder="Cep" (change)="onCEPChange()" [ngClass]="aplicaCssErro('cep','enderecoForm')">
        <div class="invalid-feedback">
          {{verificarErro('cep')}}
        </div>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="Número" [ngClass]="aplicaCssErro('numero','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          Número obrigatório.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" class="form-control" id="logradouro" formControlName="logradouro" placeholder="Endereço" [ngClass]="aplicaCssErro('logradouro','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          Endereço inválido.
        </div>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro" [ngClass]="aplicaCssErro('bairro','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          Bairro obrigatório.
        </div>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="cidade" formControlName="cidade" placeholder="Cidade" [ngClass]="aplicaCssErro('cidade','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          Cidade obrigatório.
        </div>
      </div>                               
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" id="uf" formControlName="uf" placeholder="UF" [ngClass]="aplicaCssErro('uf','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          UF Obrigatório.
        </div>
      </div>      
        <div class="form-group col-md-8">
          <select class="form-control" id="pais" name="pais" formControlName="pais" [ngClass]="aplicaCssErro('pais','enderecoForm')" (change)="onChange()">
            <option *ngFor="let country of countryList" [value]="country">{{country}}</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <input type="text" class="form-control" id="descricaoEndereco" formControlName="descricaoEndereco" placeholder="Descrição do Endereço" [ngClass]="aplicaCssErro('descricaoEndereco','enderecoForm')" (change)="onChange()">
        <div class="invalid-feedback">
          Descrição do Endereço Obrigatório
        </div>
      </div>      
        <div class="form-group col-md-4">
          <select class="form-control" id="tipoEndereco" name="tipoEndereco" formControlName="tipoEndereco" 
          [ngClass]="aplicaCssErro('tipoEndereco','enderecoForm')" (change)="onChange()">
            <option value="">Selecione</option>
            <option value="1">Cobrança</option>
            <option value="2">Entrega</option>
          </select>
      </div>
    </div>
  </form>  